*/alist
*/lformat
*/lguide
*/lindex
*/list
*/listall
*/lseen
*/ltrace
*/mkballot
*/mkdb
*/template
*/templist
*/title
dbs/*.counts
dbs/*.data
dbs/*.index
dbs/*.key
dbs/*.names
dbs/*.titles
lists/*.list
lists/*.list.gz
lists/*.list.xz
src/*.o
