bin/alist
bin/lformat
bin/lguide
bin/lindex
bin/list
bin/listall
bin/lseen
bin/ltrace
bin/mkballot
bin/template
bin/templist
bin/title
dbs/*.data
dbs/*.index
dbs/*.key
dbs/*.names
dbs/*.titles
dbs/key.counts
etc/mkdb
lists/*.list
lists/*.list.gz
lists/votelog
src/*.o
src/alist
src/lformat
src/lguide
src/lindex
src/list
src/listall
src/lseen
src/ltrace
src/mkballot
src/mkdb
src/template
src/templist
src/title
