dbs/*.data
dbs/*.index
dbs/*.key
dbs/*.names
dbs/*.titles
etc/mkdb
lists/*.list
lists/*.list.gz
src/*.o
src/alist
src/lformat
src/lguide
src/lindex
src/list
src/listall
src/lseen
src/ltrace
src/mkballot
src/mkdb
src/template
src/templist
src/title
